<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Unit Test Suite">
            <file>./tests/withFakeMiddlewareTest.php</file>
            <file>./tests/withoutFakeMiddlewareTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
